In [2]:
import os
import sys

os.environ["PYSPARK_SUBMIT_ARGS"]='--packages com.databricks:spark-csv_2.10:1.2.0 pyspark-shell'
spark_home = os.environ.get('SPARK_HOME', None)
sys.path.insert(0, spark_home + "/python")

execfile(os.path.join(spark_home, 'python/pyspark/shell.py'))

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.1.1
      /_/

Using Python version 2.7.6 (default, Oct 26 2016 20:30:19)
SparkSession available as 'spark'.

In [3]:
#import os
#import sys


#os.environ['SPARK_HOME'] = '/usr/lib/spark'
#sys.path.insert(0, '/usr/lib/spark/python/lib/py4j-0.9-src.zip')
#sys.path.insert(0, '/usr/lib/spark/python/')
#sys.path.insert(0, '/usr/local/lib64/python2.7/site-packages')
#sys.path.insert(0,'/usr/local/lib/python2.7/site-packages')

In [4]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [5]:
import seaborn as sns

/usr/local/lib/python2.7/dist-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [6]:
import numpy as np
import pandas as pd
import time
import json

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
import pyspark.sql.functions as F

In [7]:
from operator import add
from pyspark.sql.types import ArrayType, MapType

# Summary

## Train
* total items 142'437 (single row is filtered out)
* number of recommended items 
  * min 3, max >100, avg ~6, stddev ~5
* score of recommended item
  * min 1, max >100, avg ~3, stddev ~3
* has outlier line with 40K recommendations - it is filtered out
* There are 337'756 unique items among recomended
* There is no duplicates in trai set


## Test
* total items 60'956
* 47'932 test items occured at least single time as recommended to some item in the train set
* number of backreference to the train set: min=0, 25% = 1, median = 2, avg = 3, max=51

## Active items
* There are 380'900 items in train + train_rec + test set
* train, train_rec	112'317
* train             30'120
* train_rec     	177'507
* test  	        13'024
* test, train_rec	47'932

## Item description
* Description json is available for 9'273'625 items
* **parent_id**	is available for 3'805'884
* there are 80 custom attributes
* **attr1** looks like a **name**, and available for 9'273'137
* **attr0** looks like a **description**, and available for 8'272'266
* There are 5842 items with duplicated descriptions within Activel Items

## Ratings
* Roughly speaking is available in 20-30% of active items

# Train set

In [17]:
items_raw = sc.textFile("/labs/project2//ozon_train.txt")

In [18]:
items_raw = items_raw.map(lambda x: json.loads(x))

In [19]:
#train_items = items_raw.map(lambda x: (x['item'], 
#                                       x['true_recoms'], 
#                                       len(x['true_recoms']), 
#                                       float(np.mean(x['true_recoms'].values()))))
#train_items.cache()

In [20]:
train_items_narrow = items_raw.map(lambda x: (x['item'], x['true_recoms']))\
                              .filter(lambda x: len(x[1])<40000)\
                              .toDF()\
                              .selectExpr("_1 as item", "_2 as rec_items")\
                              .select(F.col("item"), F.explode(F.col("rec_items")).alias("rec_item","clicks"))

In [21]:
train_items_narrow.show(3)

+--------+--------+------+
|    item|rec_item|clicks|
+--------+--------+------+
|31471303|31471373|     1|
|31471303|31471307|     3|
|31471303|31471342|     1|
+--------+--------+------+
only showing top 3 rows

# Test set

In [22]:
test = spark.read.json("/labs/project2//ozon_test.txt")

In [23]:
test.show(2)

+--------+------+
|    item|recoms|
+--------+------+
|28759795|  null|
|32712593|  null|
+--------+------+
only showing top 2 rows

In [24]:
test.count()

60956

# Item details

In [25]:
item_descr_raw = sc.textFile("/labs/project2//item_details_full")

In [26]:
items_descr_df = item_descr_raw.map(lambda x: json.loads(x))\
                          .map(lambda x: (x['itemid'], 
                                          x.get('attr1',None), 
                                          x.get('attr0',None),
                                          x.get('parent_id',None),
                                          x.get('attr53',None),
                                          x.get('attr2',None),
                                          x.get('attr32',None),
                                          x.get('attr18',None),
                                          ))\
                          .toDF(schema=StructType([
                                        StructField("itemid", StringType()),
                                        StructField("name", StringType()),
                                        StructField("descr", StringType()),
                                        StructField("parent_id", StringType()),
                                        StructField("a53_isbn", StringType()),
                                        StructField("a02_author", StringType()),
                                        StructField("a32_lang", StringType()),
                                        StructField("a18_publisher", StringType()),
                                       ]))

In [27]:
items_descr_df.show(3)

+--------+--------------------+--------------------+---------+--------+--------------+---------+--------------------+
|  itemid|                name|               descr|parent_id|a53_isbn|    a02_author| a32_lang|       a18_publisher|
+--------+--------------------+--------------------+---------+--------+--------------+---------+--------------------+
|12808031|История маленьког...|<B> Прижизненное ...| 17969540|    null|   Ф. Бернет  |Русский  |Издание А. Ф. Дев...|
|12599476|Belkin чехол для ...|Надежная защита -...| 16095306|    null|          null|     null|                null|
|22440986|Толковый словарь ...|               нет  |     null|    null|С. И. Ожегов  |     null|                null|
+--------+--------------------+--------------------+---------+--------+--------------+---------+--------------------+
only showing top 3 rows

In [28]:
#items_descr_df.filter(~F.isnull(F.col("attr53"))).show()

# Ratings

In [31]:
item_ratings = spark.read.json("/labs/project2/ratings", 
                              schema=StructType([
            StructField("itemid", StringType()),
            StructField("rating", FloatType())
        ]))

In [32]:
item_ratings.show(2)

+-------+------+
| itemid|rating|
+-------+------+
|2515646|   5.0|
|2858646|   5.0|
+-------+------+
only showing top 2 rows

# Catalogs

In [33]:
item_catalogs = spark.read.json("/labs/project2/catalogs")

In [34]:
item_catalogs.show(3)

+---------+--------+
|catalogid|  itemid|
+---------+--------+
|  1139010|26881367|
|  1140991|31587713|
|  1134295|17425282|
+---------+--------+
only showing top 3 rows

# Catalogs structure (path)

In [35]:
catalog_path = spark.read.json("/labs/project2/catalog_path", 
                               schema=StructType([
                                            StructField("catalogid", StringType()),
                                            StructField("catalogpath", 
                                                        ArrayType(MapType(StringType(), StringType())))
                                       ]))

In [36]:
catalog_path.show(2, truncate=False)

+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|catalogid|catalogpath                                                                                                                                                                                                                   |
+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1125369  |[Map(1125369 -> Аксессуары), Map(1123855 -> Коты), Map(1123646 -> Я_Символ года 2011), Map(1110181 -> Я_ Новогодняя тематика), Map(1106018 -> ПОДАРКИ. СЕЗОННЫЕ ПРЕДЛОЖЕНИЯ), Map(1134031 -> ПОДАРКИ_СТАРЫЕ ВЕТКИ_НЕ АКТИВНЫ)]|
|1125370  |[Map(1125370 -> Магнитики), Map(1123855 -> Коты), Map(1123646 -> Я_Символ года 2011), Map(1110181 -> Я_ Новогодняя тематика), Map(1106018 -> ПОДАРКИ. СЕЗОННЫЕ ПРЕДЛОЖЕНИЯ), Map(1134031 -> ПОДАРКИ_СТАРЫЕ ВЕТКИ_НЕ АКТИВНЫ)] |
+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows

# Register all tables

In [37]:
train_items_narrow.registerTempTable("train_narrow")
test.registerTempTable("test")
#items_descr_df.registerTempTable("descr")
item_ratings.registerTempTable("rating")
item_catalogs.registerTempTable("catalogs")
catalog_path.registerTempTable("catalog_path")

In [38]:
item_clicks = spark.sql("""select rec_item as itemid,
                                 count(*) as n_recomended,
                                 sum(clicks) as ttl_clicks
                          from train_narrow
                          group by rec_item
                       """)

In [39]:
item_clicks.show(2)

+--------+------------+----------+
|  itemid|n_recomended|ttl_clicks|
+--------+------------+----------+
|31390826|           5|        23|
| 5621791|           3|        10|
+--------+------------+----------+
only showing top 2 rows

In [40]:
item_clicks.count()

337756

In [41]:
item_clicks.registerTempTable("clicks")

In [42]:
test_with_catalogs = spark.sql("""select 
                                    t.item as itemid,
                                    catalogid
                                 from test t 
                                 left join catalogs on catalogs.itemid = t.item
                              """)

In [43]:
test_with_catalogs.registerTempTable("test_with_catalog")

In [44]:
tcs=spark.sql("""select 
                itemid,sum(case when catalogid is null then 0 else 1 end) as n_catalogs
            from test_with_catalog
            group by itemid
         """)

In [45]:
tcs_df = tcs.toPandas()

In [46]:
#tcs_df.n_catalogs.value_counts()

In [47]:
tcs_df[tcs_df.n_catalogs==0].head(3)

       itemid  n_catalogs
58   25677428           0
90   28128873           0
118  30306599           0

In [48]:
#items_descr_df.filter(F.col("itemid") == "20999092").show(truncate=False)
#has no parent id, no catalogid

In [49]:
test_catalogs_freq=spark.sql("""select 
                catalogid,count(*) as n_test_records
            from test_with_catalog
            group by catalogid
         """)

In [50]:
test_catalogs_freq_df = test_catalogs_freq.toPandas()

In [51]:
test_catalogs_freq_df.sort_values(by="n_test_records", ascending=False).head(5)

     catalogid  n_test_records
2304   1141109            2224
737       None            1634
3294   1145568             787
287    1146150             738
980    1158883             726

In [52]:
test_catalogs_freq.registerTempTable("catalogs_in_test")

In [53]:
# Pivot based on catalog+rating+click using only catalogs from test

In [54]:
q = spark.sql("""
        select 
            c.itemid,
            c.catalogid,
            r.rating,
            cl.ttl_clicks,
            cl.n_recomended,
            cl.ttl_clicks * 1.0 / cl.n_recomended  as avg_clicks
        from catalogs c
        join catalogs_in_test ct on ct.catalogid = c.catalogid
        left join rating r on c.itemid = r.itemid
        left join clicks cl on c.itemid = cl.itemid
""")

In [55]:
q.registerTempTable("pivot_item_in_test_catalogs")

In [56]:
q.show(2)

+------+---------+------+----------+------------+----------+
|itemid|catalogid|rating|ttl_clicks|n_recomended|avg_clicks|
+------+---------+------+----------+------------+----------+
|100010|  1142025|   3.0|      null|        null|      null|
|100140|  1139877|  null|      null|        null|      null|
+------+---------+------+----------+------------+----------+
only showing top 2 rows

In [57]:
test_catalog_items_summary = spark.sql("""
        select
           catalogid,
           count(*) as n_items,
           sum(case when rating is not null then 1 else 0 end) as n_ratings,
           sum(case when avg_clicks is not null then 1 else 0 end) as n_from_rec,
           avg(rating) as avg_rating,
           avg(ttl_clicks) as avg_ttl_clicks,
           avg(avg_clicks) as avg_clicks_per_rec
        from pivot_item_in_test_catalogs
        group by catalogid
""")

In [58]:
test_cats_sum_df = test_catalog_items_summary.toPandas()

In [59]:
test_cats_sum_df.sort_values(by='n_items', ascending=False).head(5)

,catalogid,n_items,n_ratings,n_from_rec,avg_rating,avg_ttl_clicks,avg_clicks_per_rec
1679,1138615,1414978,549,1096,3.982046,3.493613,2.27689719799665055139507
305,1134295,712106,71,3560,4.450704,2.925000,1.73293370019493614999171
666,1138452,273724,212,460,3.598334,3.032609,2.08360248447204968944109
2301,1141109,226980,20562,13431,4.264201,8.209069,3.14087727695402387723821
68,1134294,192024,58,1538,4.678161,3.539662,1.70859294224053651881918

In [60]:
#spark.sql("select * from catalog_path where catalogid in ('1169813','1178624')").show(truncate=False)

In [61]:
test_cats_sum_df.sort_values(by='n_items', ascending=False).tail(5)

,catalogid,n_items,n_ratings,n_from_rec,avg_rating,avg_ttl_clicks,avg_clicks_per_rec
955,1177090,3,2,3,4.416667,13.333333,2.67777777777777777780000
2159,1167240,3,0,0,NaN,NaN,None
904,1128816,2,0,0,NaN,NaN,None
3029,1169813,2,0,0,NaN,NaN,None
2058,1158590,2,0,2,NaN,17.000000,9.33333333333333333335000

In [62]:
items_with_catalog_rank = spark.sql("""
        select
           *,
           row_number() over (partition by catalogid order by rating desc,n_recomended desc,ttl_clicks desc) catalog_rank
        from pivot_item_in_test_catalogs 
""")

In [63]:
items_with_catalog_rank.show(2)

+-------+---------+------+----------+------------+----------+------------+
| itemid|catalogid|rating|ttl_clicks|n_recomended|avg_clicks|catalog_rank|
+-------+---------+------+----------+------------+----------+------------+
|3380321|  1102913|   5.0|      null|        null|      null|           1|
|4129421|  1102913|   1.0|      null|        null|      null|           2|
+-------+---------+------+----------+------------+----------+------------+
only showing top 2 rows

In [64]:
#!!!!!!
#items_with_catalog_rank.write.parquet("lab10/items_with_catalog_rank")

In [65]:
items_with_catalog_rank.registerTempTable("items_with_catalog_rank")

In [66]:
test_catalog_items_summary.registerTempTable("test_catalog_items_summary")

In [67]:
top100per_cat_1 = spark.sql("""
       select 
           t.itemid as test_itemid,
           t.catalogid as test_catalogid,
           ir.*,
           cs.n_items,
           cs.n_ratings,
           cs.n_from_rec,
           cs.avg_rating,
           cs.avg_ttl_clicks
       from test_with_catalog t
       join items_with_catalog_rank ir on t.catalogid=ir.catalogid and t.itemid != ir.itemid
       join test_catalog_items_summary cs on t.catalogid = cs.catalogid
       where ir.catalog_rank <= 102
""")

In [68]:
top100per_cat_1.show(2)

+-----------+--------------+-------+---------+------+----------+------------+----------+------------+-------+---------+----------+----------+-----------------+
|test_itemid|test_catalogid| itemid|catalogid|rating|ttl_clicks|n_recomended|avg_clicks|catalog_rank|n_items|n_ratings|n_from_rec|avg_rating|   avg_ttl_clicks|
+-----------+--------------+-------+---------+------+----------+------------+----------+------------+-------+---------+----------+----------+-----------------+
|   32111279|       1102913|3380321|  1102913|   5.0|      null|        null|      null|           1|    271|        2|         7|       3.0|5.142857142857143|
|   32111279|       1102913|4129421|  1102913|   1.0|      null|        null|      null|           2|    271|        2|         7|       3.0|5.142857142857143|
+-----------+--------------+-------+---------+------+----------+------------+----------+------------+-------+---------+----------+----------+-----------------+
only showing top 2 rows

In [69]:
top100per_cat_1.printSchema()

root
 |-- test_itemid: string (nullable = true)
 |-- test_catalogid: string (nullable = true)
 |-- itemid: string (nullable = true)
 |-- catalogid: string (nullable = true)
 |-- rating: float (nullable = true)
 |-- ttl_clicks: long (nullable = true)
 |-- n_recomended: long (nullable = true)
 |-- avg_clicks: decimal(38,19) (nullable = true)
 |-- catalog_rank: integer (nullable = true)
 |-- n_items: long (nullable = false)
 |-- n_ratings: long (nullable = true)
 |-- n_from_rec: long (nullable = true)
 |-- avg_rating: double (nullable = true)
 |-- avg_ttl_clicks: double (nullable = true)

In [70]:
top100per_cat_1.registerTempTable("top100per_cat_1")

In [71]:
res_cat01 = spark.sql("""
        select
           test_itemid,
           itemid,
           catalogid,
           rating as rec_item_rating,
           ttl_clicks as rec_item_clicks,
           n_recomended as rec_item_n_recomended,
           row_number() over (partition by test_itemid order by n_items desc, catalog_rank) cat01_rank
        from top100per_cat_1 
""")

In [72]:
res_cat01.show(2)

+-----------+--------+---------+---------------+---------------+---------------------+----------+
|test_itemid|  itemid|catalogid|rec_item_rating|rec_item_clicks|rec_item_n_recomended|cat01_rank|
+-----------+--------+---------+---------------+---------------+---------------------+----------+
|   13078902|28044846|  1139642|            5.0|              7|                    3|         1|
|   13078902|19630709|  1139642|            5.0|             14|                    2|         2|
+-----------+--------+---------+---------------+---------------+---------------------+----------+
only showing top 2 rows

In [73]:
res_cat01.write.parquet("res_cat01")

In [74]:
def merge_dicts(x, y):
    x.update(y)
    return x

In [75]:
q=res_cat01.filter("cat01_rank<=100").select("test_itemid", F.create_map(["itemid", "cat01_rank"]).alias("iwr"))\
          .rdd.reduceByKey(merge_dicts).cache()

In [76]:
res_cat01_list = q.collect()

In [77]:
res_cat01_dict = {r[0]:{k:1000.0/v for k,v in r[1].items()} for r in res_cat01_list}

In [78]:
len(res_cat01_dict.keys())

59322

In [89]:
#res_cat01_dict['32486081']

In [85]:
with open("Data/ozon_test.txt") as inh, open("project02.txt", 'w') as outh:
    for line in inh.readlines():
        tr = json.loads(line)
        tr["recoms"]=res_cat01_dict.get(tr["item"], [])
        ln=json.dumps(tr)
        outh.write(ln)
        outh.write("\n")

In [107]:
#items_descr_df.filter(F.col("itemid").isin("13078902","28044846","19630709")).show(truncate=False)

In [90]:
##
test_in_train = spark.sql("""
      select 
          t.item as test_item,
          tn.item as item,
          sum(clicks) as ttl_clicks,
          count(*) as n_recomended
      from test t
      join train_narrow tn on t.item = tn.rec_item
      group by t.item, tn.item
""")

In [91]:
q2=test_in_train.withColumn("tit_score", F.col("ttl_clicks") * F.lit(100000) + F.lit(1000)*F.col("n_recomended"))

In [92]:
q2m=q2.select("test_item", F.create_map(["item", "tit_score"]).alias("iwr"))\
          .rdd.reduceByKey(merge_dicts).cache()

In [93]:
q2m.take(1)

[(u'33137403', {u'33137418': 101000, u'33137423': 101000})]

In [94]:
res02_tit_list = q2m.collect()

In [95]:
res02_tit_dict = {r[0]:{k:v for k,v in r[1].items()} for r in res02_tit_list}

In [96]:
x0 = res_cat01_dict['32486081']

In [97]:
x1 = res02_tit_dict['32486081']

In [98]:
x1

{u'30741894': 101000,
 u'31738656': 101000,
 u'31738732': 101000,
 u'32486280': 101000,
 u'32486952': 1401000,
 u'33213035': 1101000}

In [99]:
#item_catalogs.filter(F.col("itemid").isin("32486081","33213035","32486952")).show(truncate=False)

In [100]:
def merge_ranks(x1,x2, ncut=100):
    k1 = set(list(x1.keys()))
    k2 = set(list(x2.keys()))
    kall = k1 | k2
    res = []
    for k in kall:
        v1 = x1.get(k, 0)
        v2 = x2.get(k, 0)
        res.append((k,v1+v2))
    res = sorted(res, key=lambda q: (-q[1],q[0]))
    n = min(ncut, len(res))
    return {k:v for k,v in res[:n]}

In [102]:
with open("Data/ozon_test.txt") as inh, open("project02.txt", 'w') as outh:
    for line in inh.readlines():
        tr = json.loads(line)
        x0 = res_cat01_dict.get(tr["item"], {})
        x1 = res02_tit_dict.get(tr["item"], {})
        tr["recoms"] = merge_ranks(x1, x0, 50)
        ln=json.dumps(tr)
        outh.write(ln)
        outh.write("\n")

In [103]:
!cat project02.txt | head -n10

{"item": "28759795", "recoms": {"26098283": 83.33333333333333, "26098282": 55.55555555555556, "28759807": 250.0, "21014430": 28.571428571428573, "19381548": 166.66666666666666, "28759803": 202000.0, "28015795": 30.303030303030305, "21014425": 27.027027027027028, "28759796": 101000, "19381466": 41.666666666666664, "28015796": 22.727272727272727, "28759793": 32.25806451612903, "28759792": 201014.08450704225, "7020767": 52.63157894736842, "30213204": 500.0, "28759789": 33.333333333333336, "5581444": 24.390243902439025, "4998555": 111.11111111111111, "7020508": 47.61904761904762, "31594275": 22.22222222222222, "4899191": 43.47826086956522, "20344327": 71.42857142857143, "32662317": 23.80952380952381, "20344349": 38.46153846153846, "24326890": 142.85714285714286, "20767160": 35.714285714285715, "28188636": 23.25581395348837, "24326898": 37.03703703703704, "24326899": 100.0, "21494479": 58.8235294117647, "7020565": 27.77777777777778, "26098279": 45.45454545454545, "31114007": 40.0, "14648405": 62.5, "28759781": 200.0, "28759786": 125.0, "28759787": 90.9090909090909, "5631704": 76.92307692307692, "20792457": 25.0, "30213183": 31.25, "7020580": 29.41176470588235, "30213254": 21.73913043478261, "30161483": 333.3333333333333, "7020807": 25.641025641025642, "31594265": 101000, "29154251": 34.48275862068966, "30213277": 21.27659574468085, "5631957": 26.31578947368421, "5020755": 66.66666666666667, "5020756": 50.0}}
{"item": "32712593", "recoms": {"32712694": 21.27659574468085, "32712405": 22.22222222222222, "32712248": 101032.25806451614, "32712505": 37.03703703703704, "32712389": 30.303030303030305, "32712445": 101000, "32712501": 250.0, "32712503": 333.3333333333333, "32712308": 1000.0, "32712464": 101022.72727272728, "32712513": 21.73913043478261, "32712468": 25.0, "32712482": 66.66666666666667, "32712585": 301018.1818181818, "32712352": 62.5, "32712216": 28.571428571428573, "32712281": 33.333333333333336, "32712635": 40.0, "32712285": 90.9090909090909, "32712284": 166.66666666666666, "32712681": 50.0, "32712273": 111.11111111111111, "32712270": 142.85714285714286, "32712411": 52.63157894736842, "32712277": 83.33333333333333, "32712275": 71.42857142857143, "32712626": 101026.31578947368, "32712250": 41.666666666666664, "32712620": 55.55555555555556, "32712623": 23.80952380952381, "32712607": 23.25581395348837, "32712471": 200.0, "32712234": 201038.46153846153, "32712499": 500.0, "32712474": 27.77777777777778, "32712215": 100.0, "32712476": 43.47826086956522, "32712219": 45.45454545454545, "32712271": 34.48275862068966, "32712497": 47.61904761904762, "32712609": 29.41176470588235, "32712597": 27.027027027027028, "32712299": 76.92307692307692, "32712595": 35.714285714285715, "32712350": 125.0, "32712590": 101014.70588235294, "32712294": 24.390243902439025, "32712295": 58.8235294117647, "32712599": 25.641025641025642, "32712297": 31.25}}
{"item": "29616882", "recoms": {"21014421": 24.390243902439025, "31642561": 111.11111111111111, "21508358": 55.55555555555556, "32409302": 101000, "5877956": 23.25581395348837, "29596030": 38.46153846153846, "5399642": 71.42857142857143, "29596015": 30.303030303030305, "30463126": 90.9090909090909, "29616886": 201000, "25358635": 1000.0, "29596039": 47.61904761904762, "6848964": 100.0, "5719745": 40.0, "28015838": 58.8235294117647, "29596139": 500.0, "29596138": 201014.4927536232, "31594237": 125.0, "5630655": 26.31578947368421, "31594146": 333.3333333333333, "30871378": 37.03703703703704, "5490573": 29.41176470588235, "19931251": 52.63157894736842, "27466629": 25.641025641025642, "31993771": 27.77777777777778, "6445794": 66.66666666666667, "6445795": 33.333333333333336, "14648408": 34.48275862068966, "4778018": 41.666666666666664, "5653915": 27.027027027027028, "7020614": 31.25, "29596142": 201010.52631578947, "29596140": 250.0, "4150187": 23.80952380952381, "31656152": 83.33333333333333, "6445773": 28.571428571428573, "29616881": 200.0, "20344371": 62.5, "29596028": 22.727272727272727, "29616884": 301000, "27605937": 76.92307692307692, "6445802": 50.0, "29596046": 45.45454545454545, "30080329": 166.66666666666666, "6960953": 35.714285714285715, "6445788": 32.25806451612903, "32216858": 142.85714285714286, "4805331": 22.22222222222222, "18603675": 43.47826086956522, "22214617": 25.0}}
{"item": "6242189", "recoms": {}}
{"item": "32663967", "recoms": {"23896103": 21.27659574468085, "32640196": 34.48275862068966, "31744418": 62.5, "32106759": 55.55555555555556, "30114637": 250.0, "31744597": 45.45454545454545, "33022530": 41.666666666666664, "20182391": 33.333333333333336, "21418001": 23.80952380952381, "32640148": 200.0, "20182402": 30.303030303030305, "32106812": 100.0, "32106967": 83.33333333333333, "7279053": 27.77777777777778, "32196699": 47.61904761904762, "31744276": 76.92307692307692, "31738658": 21.73913043478261, "31744331": 50.0, "30396668": 28.571428571428573, "32106741": 1000.0, "31744465": 37.03703703703704, "32106878": 111.11111111111111, "30396661": 58.8235294117647, "32196714": 38.46153846153846, "31744502": 142.85714285714286, "23896012": 27.027027027027028, "32106766": 500.0, "31616675": 333.3333333333333, "20395407": 31.25, "32486463": 101000, "31744485": 24.390243902439025, "31738876": 25.641025641025642, "31744488": 125.0, "20182309": 40.0, "31744533": 20.833333333333332, "31744340": 25.0, "20182388": 26.31578947368421, "32106825": 66.66666666666667, "20182266": 35.714285714285715, "31744471": 22.727272727272727, "31738873": 43.47826086956522, "30115819": 52.63157894736842, "20395474": 22.22222222222222, "32106739": 90.9090909090909, "32663968": 101000, "20182324": 23.25581395348837, "32196703": 71.42857142857143, "30115817": 166.66666666666666, "23896047": 32.25806451612903, "20182269": 29.41176470588235}}
{"item": "7976823", "recoms": {"27715082": 333.3333333333333, "27715083": 111.11111111111111, "1476420": 23.25581395348837, "27608352": 76.92307692307692, "20214965": 58.8235294117647, "4796878": 38.46153846153846, "20304009": 66.66666666666667, "7321368": 250.0, "5433360": 50.0, "7234332": 41.666666666666664, "19127798": 32.25806451612903, "7463262": 28.571428571428573, "4176646": 166.66666666666666, "7624292": 34.48275862068966, "2659859": 71.42857142857143, "26312805": 29.41176470588235, "8669910": 90.9090909090909, "22887102": 40.0, "1469934": 20.833333333333332, "30488008": 62.5, "18567219": 100.0, "31498035": 20.408163265306122, "29230882": 20.0, "29425029": 1000.0, "3239865": 22.727272727272727, "30956971": 45.45454545454545, "32675202": 142.85714285714286, "4540779": 47.61904761904762, "24707923": 25.0, "2900152": 22.22222222222222, "2157924": 31.25, "7625422": 200.0, "31346954": 27.027027027027028, "30656884": 24.390243902439025, "4183638": 52.63157894736842, "7280348": 27.77777777777778, "7321422": 33.333333333333336, "19376981": 43.47826086956522, "4647873": 21.73913043478261, "7314910": 125.0, "4153300": 21.27659574468085, "14594463": 55.55555555555556, "3833001": 25.641025641025642, "30959638": 23.80952380952381, "7624164": 83.33333333333333, "24911707": 37.03703703703704, "32516546": 500.0, "7297923": 35.714285714285715, "23696248": 26.31578947368421, "19905377": 30.303030303030305}}
{"item": "32772551", "recoms": {"24828208": 47.61904761904762, "5238631": 21.27659574468085, "7416493": 100.0, "7416494": 58.8235294117647, "7464307": 142.85714285714286, "7501593": 21.73913043478261, "7501936": 43.47826086956522, "7464188": 40.0, "20393190": 111.11111111111111, "29701413": 25.641025641025642, "7464616": 34.48275862068966, "19721270": 25.0, "7502213": 62.5, "7464100": 500.0, "7416529": 38.46153846153846, "7416506": 24.390243902439025, "7416507": 33.333333333333336, "7416504": 23.25581395348837, "7502109": 50.0, "29701396": 125.0, "27504705": 71.42857142857143, "7502142": 83.33333333333333, "29833473": 200.0, "19544014": 26.31578947368421, "32772974": 301000, "7501764": 22.727272727272727, "7502106": 30.303030303030305, "6754219": 28.571428571428573, "5238454": 20.833333333333332, "19931796": 250.0, "32778992": 101000, "24828198": 27.77777777777778, "7439840": 27.027027027027028, "22293040": 29.41176470588235, "29833485": 35.714285714285715, "29701376": 66.66666666666667, "24918371": 166.66666666666666, "31914372": 1000.0, "7464330": 37.03703703703704, "29701409": 23.80952380952381, "20062258": 90.9090909090909, "20393103": 31.25, "31349460": 55.55555555555556, "6754220": 41.666666666666664, "31914379": 22.22222222222222, "7502244": 76.92307692307692, "26200594": 32.25806451612903, "29701408": 45.45454545454545, "20996022": 333.3333333333333, "20397718": 52.63157894736842}}
{"item": "27976812", "recoms": {"5956063": 83.33333333333333, "32498851": 23.80952380952381, "7228555": 30.303030303030305, "27159242": 71.42857142857143, "30918828": 1000.0, "22608000": 25.641025641025642, "21206291": 32.25806451612903, "32492898": 901018.8679245283, "31170648": 40.0, "32498852": 21.27659574468085, "32498838": 23.25581395348837, "31170647": 38.46153846153846, "26761704": 27.77777777777778, "20359269": 58.8235294117647, "29202392": 35.714285714285715, "29202391": 45.45454545454545, "31170649": 333.3333333333333, "32498853": 26.31578947368421, "19541826": 76.92307692307692, "19541827": 28.571428571428573, "31423514": 500.0, "31502745": 22.727272727272727, "19541828": 142.85714285714286, "19541829": 601250.0, "22678360": 24.390243902439025, "30918830": 52.63157894736842, "8166106": 101000, "20185739": 43.47826086956522, "31423513": 25.0, "22678368": 37.03703703703704, "30918829": 166.66666666666666, "32850931": 27.027027027027028, "27159281": 31.25, "23020108": 29.41176470588235, "31170650": 55.55555555555556, "18819864": 66.66666666666667, "31612833": 200.0, "32498846": 20.833333333333332, "32498845": 21.73913043478261, "31423528": 90.9090909090909, "21461327": 33.333333333333336, "22632197": 47.61904761904762, "22632196": 22.22222222222222, "19897061": 41.666666666666664, "19897062": 50.0, "19897063": 62.5, "19897064": 34.48275862068966, "19897065": 100.0, "31423526": 125.0, "31423527": 111.11111111111111}}
{"item": "32788806", "recoms": {"27987570": 32.25806451612903, "31475831": 500.0, "8237451": 34.48275862068966, "18090372": 76.92307692307692, "31356531": 30.303030303030305, "32529141": 26.31578947368421, "30285571": 21.73913043478261, "31779495": 27.027027027027028, "30285242": 52.63157894736842, "30285289": 25.641025641025642, "24054165": 27.77777777777778, "26430686": 100.0, "8237447": 166.66666666666666, "24053080": 28.571428571428573, "13837760": 142.85714285714286, "32771857": 20.0, "31278475": 333.3333333333333, "30285200": 29.41176470588235, "30599463": 24.390243902439025, "8237449": 33.333333333333336, "8237448": 41.666666666666664, "6496190": 200.0, "8237450": 35.714285714285715, "8237445": 111.11111111111111, "8237444": 43.47826086956522, "8237443": 58.8235294117647, "8237442": 62.5, "8237441": 38.46153846153846, "8237440": 45.45454545454545, "30598944": 21.27659574468085, "30285254": 23.80952380952381, "31377047": 20.833333333333332, "8237452": 37.03703703703704, "31460547": 20.408163265306122, "23981551": 23.25581395348837, "27123986": 47.61904761904762, "31572940": 22.22222222222222, "31252250": 1000.0, "31252251": 66.66666666666667, "6752924": 71.42857142857143, "32521120": 22.727272727272727, "8237438": 250.0, "8237439": 40.0, "18440385": 31.25, "17909785": 125.0, "6752949": 90.9090909090909, "8237436": 50.0, "8237437": 55.55555555555556, "30598849": 25.0, "8237435": 83.33333333333333}}
{"item": "32362592", "recoms": {"31952295": 33.333333333333336, "31952294": 37.03703703703704, "19513556": 30.303030303030305, "24561007": 38.46153846153846, "29017537": 83.33333333333333, "25452936": 41.666666666666664, "32570213": 23.80952380952381, "26666484": 76.92307692307692, "32203287": 22.22222222222222, "29347282": 35.714285714285715, "31952314": 26.31578947368421, "32501764": 40.0, "32203304": 24.390243902439025, "20002709": 166.66666666666666, "25453043": 45.45454545454545, "33518537": 43.47826086956522, "32916393": 1000.0, "32916392": 22.727272727272727, "32203282": 25.641025641025642, "25453196": 125.0, "19513559": 47.61904761904762, "19513548": 29.41176470588235, "4640593": 31.25, "19513543": 52.63157894736842, "32202907": 23.25581395348837, "27549727": 250.0, "25453435": 27.77777777777778, "29346563": 28.571428571428573, "32362548": 101000, "20002656": 100.0, "20002652": 101000, "25452985": 66.66666666666667, "32362661": 58.8235294117647, "13887440": 111.11111111111111, "13887443": 27.027027027027028, "28312159": 62.5, "32362608": 1101000, "30700482": 25.0, "32203300": 32.25806451612903, "24561012": 200.0, "32203305": 21.73913043478261, "32362607": 1601000, "4640588": 90.9090909090909, "25452792": 55.55555555555556, "19513558": 333.3333333333333, "25452794": 500.0, "19513547": 50.0, "19513557": 142.85714285714286, "25453033": 34.48275862068966, "4640587": 71.42857142857143}}
cat: write error: Broken pipe