In [1]:
import os
os.environ["PYSPARK_SUBMIT_ARGS"]='--packages com.databricks:spark-csv_2.10:1.3.0 pyspark-shell'
execfile(os.path.join(os.environ["SPARK_HOME"], 'python/pyspark/shell.py'))

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.0.2
      /_/

Using Python version 2.7.6 (default, Mar 22 2014 22:59:56)
SparkSession available as 'spark'.

In [2]:
import json

In [1]:
sc

''

In [4]:
t = sc.textFile('lab7/u.data')

In [5]:
t

lab7/u.data MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:-2

In [6]:
t.take(3)

[u'196\t242\t3\t881250949',
 u'186\t302\t3\t891717742',
 u'22\t377\t1\t878887116']

In [5]:
t2=t.map(lambda x: x.split())

In [59]:
x=(1,2,3)

IndexError: tuple index out of range

In [161]:
t2.map(lambda x: (int(x[0]), int(x[1]), int(x[2]))).filter(lambda x: x[1]==600 ).take(100)

[(7, 600, 4), (932, 600, 2)]

In [6]:
t2=t2.map(lambda x: (int(x[0]), int(x[1]), int(x[2])))

In [7]:
t2.cache()

PythonRDD[2] at RDD at PythonRDD.scala:48

# ТОп 10 фильмов

In [29]:
top10_rates = t2.map(lambda x: (x[1],1)).reduceByKey(lambda a,b: a+b).takeOrdered(10, lambda x: -x[1])
t2.map(lambda x: (x[1],1)).reduceByKey(lambda a,b: a+b).takeOrdered(10, lambda x: -x[1])

[(50, 583),
 (258, 509),
 (100, 508),
 (181, 507),
 (294, 485),
 (286, 481),
 (288, 478),
 (1, 452),
 (300, 431),
 (121, 429)]

In [30]:
top10_rates_prepare = t2.map(lambda x: (x[1],1)).reduceByKey(lambda a,b: a+b)
top10_rates_prepare.takeOrdered(600)

[(1, 452),
 (2, 131),
 (3, 90),
 (4, 209),
 (5, 86),
 (6, 26),
 (7, 392),
 (8, 219),
 (9, 299),
 (10, 89),
 (11, 236),
 (12, 267),
 (13, 184),
 (14, 183),
 (15, 293),
 (16, 39),
 (17, 92),
 (18, 10),
 (19, 69),
 (20, 72),
 (21, 84),
 (22, 297),
 (23, 182),
 (24, 174),
 (25, 293),
 (26, 73),
 (27, 57),
 (28, 276),
 (29, 114),
 (30, 37),
 (31, 154),
 (32, 81),
 (33, 97),
 (34, 7),
 (35, 11),
 (36, 13),
 (37, 8),
 (38, 120),
 (39, 87),
 (40, 57),
 (41, 37),
 (42, 148),
 (43, 40),
 (44, 79),
 (45, 80),
 (46, 27),
 (47, 133),
 (48, 117),
 (49, 81),
 (50, 583),
 (51, 81),
 (52, 91),
 (53, 128),
 (54, 104),
 (55, 149),
 (56, 394),
 (57, 40),
 (58, 175),
 (59, 83),
 (60, 64),
 (61, 59),
 (62, 127),
 (63, 82),
 (64, 283),
 (65, 115),
 (66, 162),
 (67, 103),
 (68, 134),
 (69, 321),
 (70, 251),
 (71, 220),
 (72, 129),
 (73, 128),
 (74, 7),
 (75, 5),
 (76, 54),
 (77, 151),
 (78, 33),
 (79, 336),
 (80, 68),
 (81, 110),
 (82, 261),
 (83, 176),
 (84, 18),
 (85, 58),
 (86, 150),
 (87, 138),
 (88, 213),
 (89, 275),
 (90, 95),
 (91, 143),
 (92, 104),
 (93, 112),
 (94, 137),
 (95, 219),
 (96, 295),
 (97, 256),
 (98, 390),
 (99, 172),
 (100, 508),
 (101, 73),
 (102, 54),
 (103, 15),
 (104, 5),
 (105, 74),
 (106, 71),
 (107, 42),
 (108, 65),
 (109, 130),
 (110, 31),
 (111, 272),
 (112, 20),
 (113, 9),
 (114, 67),
 (115, 15),
 (116, 125),
 (117, 378),
 (118, 293),
 (119, 4),
 (120, 67),
 (121, 429),
 (122, 106),
 (123, 115),
 (124, 187),
 (125, 244),
 (126, 97),
 (127, 413),
 (128, 65),
 (129, 129),
 (130, 23),
 (131, 95),
 (132, 246),
 (133, 171),
 (134, 198),
 (135, 259),
 (136, 105),
 (137, 171),
 (138, 19),
 (139, 50),
 (140, 61),
 (141, 72),
 (142, 57),
 (143, 222),
 (144, 243),
 (145, 65),
 (146, 10),
 (147, 185),
 (148, 128),
 (149, 23),
 (150, 157),
 (151, 326),
 (152, 82),
 (153, 247),
 (154, 174),
 (155, 98),
 (156, 148),
 (157, 127),
 (158, 60),
 (159, 101),
 (160, 69),
 (161, 220),
 (162, 106),
 (163, 92),
 (164, 151),
 (165, 64),
 (166, 58),
 (167, 67),
 (168, 316),
 (169, 118),
 (170, 121),
 (171, 65),
 (172, 367),
 (173, 324),
 (174, 420),
 (175, 208),
 (176, 284),
 (177, 137),
 (178, 125),
 (179, 221),
 (180, 221),
 (181, 507),
 (182, 226),
 (183, 291),
 (184, 116),
 (185, 239),
 (186, 251),
 (187, 209),
 (188, 170),
 (189, 66),
 (190, 124),
 (191, 276),
 (192, 116),
 (193, 157),
 (194, 241),
 (195, 301),
 (196, 251),
 (197, 239),
 (198, 127),
 (199, 165),
 (200, 206),
 (201, 89),
 (202, 280),
 (203, 182),
 (204, 350),
 (205, 136),
 (206, 50),
 (207, 66),
 (208, 200),
 (209, 191),
 (210, 331),
 (211, 206),
 (212, 92),
 (213, 134),
 (214, 114),
 (215, 212),
 (216, 290),
 (217, 120),
 (218, 171),
 (219, 111),
 (220, 66),
 (221, 74),
 (222, 365),
 (223, 136),
 (224, 44),
 (225, 109),
 (226, 166),
 (227, 161),
 (228, 244),
 (229, 171),
 (230, 199),
 (231, 142),
 (232, 101),
 (233, 124),
 (234, 280),
 (235, 217),
 (236, 45),
 (237, 384),
 (238, 256),
 (239, 150),
 (240, 156),
 (241, 128),
 (242, 117),
 (243, 132),
 (244, 48),
 (245, 240),
 (246, 124),
 (247, 5),
 (248, 160),
 (249, 130),
 (250, 197),
 (251, 46),
 (252, 158),
 (253, 26),
 (254, 62),
 (255, 172),
 (256, 16),
 (257, 303),
 (258, 509),
 (259, 162),
 (260, 127),
 (261, 43),
 (262, 66),
 (263, 19),
 (264, 101),
 (265, 227),
 (266, 35),
 (267, 9),
 (268, 255),
 (269, 315),
 (270, 136),
 (271, 211),
 (272, 198),
 (273, 223),
 (274, 190),
 (275, 268),
 (276, 298),
 (277, 71),
 (278, 60),
 (279, 28),
 (280, 85),
 (281, 146),
 (282, 232),
 (283, 177),
 (284, 193),
 (285, 162),
 (286, 481),
 (287, 78),
 (288, 478),
 (289, 259),
 (290, 96),
 (291, 127),
 (292, 114),
 (293, 147),
 (294, 485),
 (295, 77),
 (296, 6),
 (297, 50),
 (298, 194),
 (299, 73),
 (300, 431),
 (301, 230),
 (302, 297),
 (303, 134),
 (304, 149),
 (305, 87),
 (306, 96),
 (307, 188),
 (308, 30),
 (309, 28),
 (310, 145),
 (311, 75),
 (312, 80),
 (313, 350),
 (314, 5),
 (315, 160),
 (316, 112),
 (317, 102),
 (318, 298),
 (319, 168),
 (320, 20),
 (321, 169),
 (322, 218),
 (323, 240),
 (324, 125),
 (325, 128),
 (326, 175),
 (327, 175),
 (328, 295),
 (329, 45),
 (330, 41),
 (331, 113),
 (332, 143),
 (333, 251),
 (334, 64),
 (335, 21),
 (336, 43),
 (337, 18),
 (338, 91),
 (339, 47),
 (340, 189),
 (341, 11),
 (342, 52),
 (343, 124),
 (344, 55),
 (345, 65),
 (346, 126),
 (347, 137),
 (348, 27),
 (349, 31),
 (350, 41),
 (351, 20),
 (352, 26),
 (353, 14),
 (354, 72),
 (355, 41),
 (356, 97),
 (357, 264),
 (358, 143),
 (359, 18),
 (360, 10),
 (361, 10),
 (362, 28),
 (363, 47),
 (364, 37),
 (365, 48),
 (366, 47),
 (367, 170),
 (368, 31),
 (369, 55),
 (370, 39),
 (371, 67),
 (372, 34),
 (373, 39),
 (374, 11),
 (375, 23),
 (376, 24),
 (377, 13),
 (378, 101),
 (379, 43),
 (380, 116),
 (381, 100),
 (382, 111),
 (383, 31),
 (384, 69),
 (385, 208),
 (386, 87),
 (387, 65),
 (388, 28),
 (389, 27),
 (390, 10),
 (391, 59),
 (392, 68),
 (393, 192),
 (394, 12),
 (395, 56),
 (396, 54),
 (397, 12),
 (398, 26),
 (399, 89),
 (400, 18),
 (401, 76),
 (402, 170),
 (403, 201),
 (404, 101),
 (405, 344),
 (406, 49),
 (407, 43),
 (408, 112),
 (409, 70),
 (410, 162),
 (411, 163),
 (412, 93),
 (413, 55),
 (414, 62),
 (415, 25),
 (416, 64),
 (417, 73),
 (418, 129),
 (419, 178),
 (420, 81),
 (421, 106),
 (422, 26),
 (423, 300),
 (424, 19),
 (425, 85),
 (426, 32),
 (427, 219),
 (428, 121),
 (429, 97),
 (430, 93),
 (431, 153),
 (432, 174),
 (433, 171),
 (434, 67),
 (435, 216),
 (436, 99),
 (437, 5),
 (438, 6),
 (439, 5),
 (440, 14),
 (441, 53),
 (442, 4),
 (443, 162),
 (444, 46),
 (445, 22),
 (446, 9),
 (447, 121),
 (448, 85),
 (449, 117),
 (450, 63),
 (451, 170),
 (452, 66),
 (453, 16),
 (454, 16),
 (455, 145),
 (456, 48),
 (457, 27),
 (458, 90),
 (459, 24),
 (460, 28),
 (461, 74),
 (462, 148),
 (463, 71),
 (464, 27),
 (465, 85),
 (466, 52),
 (467, 48),
 (468, 64),
 (469, 67),
 (470, 108),
 (471, 221),
 (472, 158),
 (473, 126),
 (474, 194),
 (475, 250),
 (476, 160),
 (477, 95),
 (478, 104),
 (479, 179),
 (480, 179),
 (481, 63),
 (482, 128),
 (483, 243),
 (484, 138),
 (485, 125),
 (486, 64),
 (487, 68),
 (488, 65),
 (489, 52),
 (490, 50),
 (491, 67),
 (492, 59),
 (493, 60),
 (494, 56),
 (495, 59),
 (496, 231),
 (497, 68),
 (498, 152),
 (499, 62),
 (500, 31),
 (501, 123),
 (502, 57),
 (503, 39),
 (504, 122),
 (505, 68),
 (506, 90),
 (507, 98),
 (508, 215),
 (509, 121),
 (510, 121),
 (511, 173),
 (512, 57),
 (513, 72),
 (514, 180),
 (515, 201),
 (516, 63),
 (517, 91),
 (518, 89),
 (519, 80),
 (520, 124),
 (521, 120),
 (522, 35),
 (523, 164),
 (524, 46),
 (525, 73),
 (526, 124),
 (527, 195),
 (528, 121),
 (529, 93),
 (530, 80),
 (531, 129),
 (532, 22),
 (533, 15),
 (534, 13),
 (535, 54),
 (536, 10),
 (537, 30),
 (538, 66),
 (539, 44),
 (540, 43),
 (541, 49),
 (542, 51),
 (543, 21),
 (544, 71),
 (545, 12),
 (546, 254),
 (547, 41),
 (548, 12),
 (549, 92),
 (550, 151),
 (551, 24),
 (552, 45),
 (553, 63),
 (554, 102),
 (555, 10),
 (556, 12),
 (557, 17),
 (558, 70),
 (559, 137),
 (560, 22),
 (561, 59),
 (562, 48),
 (563, 29),
 (564, 27),
 (565, 22),
 (566, 179),
 (567, 35),
 (568, 230),
 (569, 67),
 (570, 50),
 (571, 28),
 (572, 29),
 (573, 33),
 (574, 15),
 (575, 44),
 (576, 93),
 (577, 41),
 (578, 92),
 (579, 19),
 (580, 32),
 (581, 59),
 (582, 168),
 (583, 37),
 (584, 79),
 (585, 39),
 (586, 34),
 (587, 14),
 (588, 202),
 (589, 43),
 (590, 18),
 (591, 178),
 (592, 9),
 (593, 12),
 (594, 5),
 (595, 64),
 (596, 127),
 (597, 206),
 (598, 4),
 (599, 1),
 (600, 2)]

In [31]:
for each in top10_rates:
    print (str(each[0]) + ',')

50,
258,
100,
181,
294,
286,
288,
1,
300,
121,

In [108]:
top10_rates = t2.map(lambda x: (x[1],1)).reduceByKey(lambda a,b: a+b)

'[258, 509]'

Готовим данные для обсечета среднего по фильмам, для этого посчитаем сумму оценок и их число для кажого фильма

In [126]:
top10_average_prepare = t2.map(lambda x: (x[1],x[2])).aggregateByKey((0,0), \
              lambda acc,value: (acc[0]+value, acc[1]+1),\
              lambda acc1,acc2:(acc1[0]+acc2[0],acc1[1]+acc2[1])).collect()

In [127]:
top_average = sc.parallelize(top10_average_prepare)

А теперь посчитаем среднюю оценку для каждого фильма

In [128]:
top10_average = top_average.map(lambda x: (x[0],(float(x[1][0])/float(x[1][1])))).takeOrdered(10, lambda x: -x[1])
top_average.map(lambda x: (x[0],(float(x[1][0])/float(x[1][1])))).takeOrdered(10, lambda x: -x[1])

[(814, 5.0),
 (1122, 5.0),
 (1500, 5.0),
 (1536, 5.0),
 (1189, 5.0),
 (1201, 5.0),
 (1293, 5.0),
 (1467, 5.0),
 (1599, 5.0),
 (1653, 5.0)]

In [129]:
top_average = top_average.map(lambda x: (x[0],(float(x[1][0])/float(x[1][1]))))

In [130]:
top_average.take(10)

[(2, 3.2061068702290076),
 (4, 3.550239234449761),
 (6, 3.576923076923077),
 (8, 3.9954337899543377),
 (10, 3.831460674157303),
 (12, 4.385767790262173),
 (14, 3.9672131147540983),
 (16, 3.2051282051282053),
 (18, 2.8),
 (20, 3.4166666666666665)]

Добавим названия фильмов по ID и отсортируем, покажем топ

In [137]:
top10_average=top_average.join(items).takeOrdered(10, lambda x: (-x[1][0], x[1][1]) )
top_average.join(items).takeOrdered(10, lambda x: (-x[1][0], x[1][1]) )

[(1536, (5.0, u'Aiqing wansui (1994)')),
 (1653, (5.0, u'Entertaining Angels: The Dorothy Day Story (1996)')),
 (814, (5.0, u'Great Day in Harlem, A (1994)')),
 (1201, (5.0, u'Marlene Dietrich: Shadow and Light (1996) ')),
 (1189, (5.0, u'Prefontaine (1997)')),
 (1467, (5.0, u'Saint of Fort Washington, The (1993)')),
 (1500, (5.0, u'Santa with Muscles (1996)')),
 (1599, (5.0, u"Someone Else's America (1995)")),
 (1293, (5.0, u'Star Kid (1997)')),
 (1122, (5.0, u'They Made Me a Criminal (1939)'))]

In [138]:
for each in top10_average:
    print (str(each[0]) + ',')

1536,
1653,
814,
1201,
1189,
1467,
1500,
1599,
1293,
1122,

Загрузим список фильмов

In [132]:
items = sc.textFile('lab7/u.item')

In [133]:
items.take(1)

[u'1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0']

In [134]:
items=items.map(lambda x: x.split('|'))

In [135]:
items=items.map(lambda x: (int(x[0]), x[1]))

In [136]:
items.take(3)

[(1, u'Toy Story (1995)'), (2, u'GoldenEye (1995)'), (3, u'Four Rooms (1995)')]

# Начнем считать top10_rating

Посчитаем глобальное среднее по всем фильмам

In [156]:
t2.take(4)

[(196, 242, 3), (186, 302, 3), (22, 377, 1), (244, 51, 2)]

вырежем id пользователей

In [157]:
t3=t2.map(lambda x: (x[1],x[2]))

In [158]:
t3.cache()

PythonRDD[78] at RDD at PythonRDD.scala:48

подготовим данные для расчета глобального среднего - общая сумма оценок и число оценок

In [159]:
global_avg_prepare =t3.map(lambda x: x[1]).aggregate((0,0), \
              lambda acc,value: (acc[0]+value, acc[1]+1),\
              lambda acc1,acc2:(acc1[0]+acc2[0],acc1[1]+acc2[1]))
global_avg_prepare

(352986, 100000)

In [160]:
global_avg = float(global_avg_prepare[0])/float(global_avg_prepare[1])
global_avg

3.52986

Посчитаем количество голосовавших пользователей

In [161]:
users_count = len(t2.map(lambda x: x[0]).countByValue())
users_count

943

Сумма оценок и их количество для каждого фильма

In [162]:
top10_rating_prepare = t3.aggregateByKey((0,0), \
              lambda acc,value: (acc[0]+value, acc[1]+1),\
              lambda acc1,acc2:(acc1[0]+acc2[0],acc1[1]+acc2[1]))

In [163]:
top10_rating_prepare.take(10)

[(2, (420, 131)),
 (4, (742, 209)),
 (6, (93, 26)),
 (8, (875, 219)),
 (10, (341, 89)),
 (12, (1171, 267)),
 (14, (726, 183)),
 (16, (125, 39)),
 (18, (28, 10)),
 (20, (246, 72))]

In [164]:
def top10mu(summa, count, globalavg, globaluser):
    return (summa+globalavg*globaluser)/(globaluser+count)

In [165]:
top10mu(742 ,209,global_avg,users_count)

3.533557274305556

Посчитаем рейтинг с поправкой на недостающие данные, добавив глобальное среднее и число пользователей

In [166]:
top10_rating = top10_rating_prepare.map(lambda x: (x[0],(top10mu(float(x[1][0]),float(x[1][1]),global_avg,float(20)))))
top10_rating.take(10)

[(2, 3.2489880794701986),
 (4, 3.5484593886462883),
 (6, 3.556460869565217),
 (8, 3.9564736401673644),
 (10, 3.776121100917431),
 (12, 4.326122648083623),
 (14, 3.9241241379310345),
 (16, 3.3152067796610165),
 (18, 3.2865733333333336),
 (20, 3.441273913043478)]

Добавим название и отсортируем

In [167]:
top10_rating=top10_rating.join(items).takeOrdered(10, lambda x: (-x[1][0], x[1][1]) )
top10_rating

[(318, (4.407538364779874, u"Schindler's List (1993)")),
 (483, (4.38630114068441, u'Casablanca (1942)')),
 (64, (4.384809240924092, u'Shawshank Redemption, The (1994)')),
 (408, (4.345433333333333, u'Close Shave, A (1995)')),
 (50, (4.331006965174129, u'Star Wars (1977)')),
 (169, (4.330414492753624, u'Wrong Trousers, The (1993)')),
 (12, (4.326122648083623, u'Usual Suspects, The (1995)')),
 (603, (4.312651528384279, u'Rear Window (1954)')),
 (98, (4.252676097560975, u'Silence of the Lambs, The (1991)')),
 (127, (4.2484923787528865, u'Godfather, The (1972)'))]

In [65]:
for each in top10_rating:
    print (str(each[0]) + ',')

318,
483,
64,
408,
50,
169,
12,
603,
98,
127,

# Посчитаем top10_lower

Число оценок, фильма считали выше

In [170]:
top10_rates_prepare.takeOrdered(6)

[(1, 452), (2, 131), (3, 90), (4, 209), (5, 86), (6, 26)]

количество человек оценивших фильм положительно для каждого фильма

In [172]:
count_of_good = t3.filter(lambda x: x[1]>=4).aggregateByKey(0, \
              lambda x,y:(x+1),\
              lambda x,y:(x+y))
count_of_good.takeOrdered(6)

[(1, 321), (2, 51), (3, 34), (4, 122), (5, 39), (6, 15)]

Доля положительных отзывов

In [173]:
good_rating_rate = count_of_good.join(top10_rates_prepare).map(lambda x: (x[0],float(x[1][0])/float(x[1][1])))
good_rating_rate.takeOrdered(6)

[(1, 0.7101769911504425),
 (2, 0.3893129770992366),
 (3, 0.37777777777777777),
 (4, 0.583732057416268),
 (5, 0.45348837209302323),
 (6, 0.5769230769230769)]

In [174]:
z=2.576

In [175]:
top10_lower_prepare = good_rating_rate.join(top10_rates_prepare)
top10_lower_prepare.take(4)

[(4, (0.583732057416268, 209)),
 (8, (0.7077625570776256, 219)),
 (12, (0.8689138576779026, 267)),
 (16, (0.41025641025641024, 39))]

In [176]:
from math import sqrt

def confidence(n, p, z):
    if n == 0:
        return 0
    phat = p
    return ((phat + z*z/(2*n) - z * sqrt((phat*(1-phat)+z*z/(4*n))/n))/(1+z*z/n))

посчитаем нижнюю границу доверительного интервала для каждого фильма

In [177]:
top10_lower_prepare2 = top10_lower_prepare.map(lambda x: (x[0], confidence(x[1][1], x[1][0], z)))
top10_lower_prepare2.take(10)

[(4, 0.4946443455220198),
 (8, 0.6234208070688205),
 (12, 0.8066550869388946),
 (16, 0.2352871185721569),
 (20, 0.4064441565314605),
 (24, 0.42083014777433847),
 (28, 0.6507151818400247),
 (32, 0.5112460808880247),
 (36, 0.009095597498995961),
 (40, 0.1974979774602355)]

In [178]:
top10_lower = top10_lower_prepare2.join(items).takeOrdered(10, lambda x: (-x[1][0], x[1][1]) )
#top10_lower_prepare2.takeOrdered(10, lambda x: -x[1])

In [179]:
top10_lower

[(64, (0.8457526835447277, u'Shawshank Redemption, The (1994)')),
 (318, (0.8336980984637924, u"Schindler's List (1993)")),
 (98, (0.8334527970235316, u'Silence of the Lambs, The (1991)')),
 (479, (0.8332601854479507, u'Vertigo (1958)')),
 (483, (0.8262807973523965, u'Casablanca (1942)')),
 (50, (0.8182013061987115, u'Star Wars (1977)')),
 (603, (0.816144322908024, u'Rear Window (1954)')),
 (427, (0.8134728086457121, u'To Kill a Mockingbird (1962)')),
 (357, (0.808875556038692, u"One Flew Over the Cuckoo's Nest (1975)")),
 (12, (0.8066550869388946, u'Usual Suspects, The (1995)'))]

In [181]:
for each in top10_lower:
    print (str(each[0]) + ',')

64,
318,
98,
479,
483,
50,
603,
427,
357,
12,

# Посчитаем hist_film

In [19]:
t4 = t3.filter(lambda x: x[0]==22 ).map(lambda x: x[1])

In [20]:
count_22 = t4.countByValue()

In [21]:
count_22

defaultdict(<type 'int'>, {1: 5, 2: 14, 3: 46, 4: 98, 5: 134})

In [22]:
for x in xrange(1,6):
    print(str(count_22[x])+',')

5,
14,
46,
98,
134,

# Посчитаем hist_all

In [14]:
count_all = t3.map(lambda x: x[1]).countByValue()

In [15]:
for x in xrange(1,6):
    print(str(count_all[x])+',')

6110,
11370,
27145,
34174,
21201,

In [80]:
top10_rates = sorted(dict(top10_rates).items(), key=lambda x: x[1], reverse=True)

defaultdict(<type 'int'>, {1: 6110, 2: 11370, 3: 27145, 4: 34174, 5: 21201})

[50, 258, 100, 181, 294, 286, 288, 1, 300, 121]

In [53]:
sorted(dict(top10_rates).items(), key=lambda x: x[1], reverse=True)

[(50, 583),
 (258, 509),
 (100, 508),
 (181, 507),
 (294, 485),
 (286, 481),
 (288, 478),
 (1, 452),
 (300, 431),
 (121, 429)]

In [180]:
print(json.dumps({'top10_rates':[x for x,y in top10_rates], \
                  'hist_film': count_22.values(), \
                  'hist_all': count_all.values(), \
                  'top10_average': [or x,y in top10_average], \
                  'top10_rating': [x for x,y in top10_rating], \
                  'top10_lower': [x for x,y in top10_lower] }, sort_keys=True, indent=4))

{
    "hist_all": [
        6110,
        11370,
        27145,
        34174,
        21201
    ],
    "hist_film": [
        5,
        14,
        46,
        98,
        134
    ],
    "top10_average": [
        1536,
        1653,
        814,
        1201,
        1189,
        1467,
        1500,
        1599,
        1293,
        1122
    ],
    "top10_lower": [
        64,
        318,
        98,
        479,
        483,
        50,
        603,
        427,
        357,
        12
    ],
    "top10_rates": [
        50,
        258,
        100,
        181,
        294,
        286,
        288,
        1,
        300,
        121
    ],
    "top10_rating": [
        318,
        483,
        64,
        408,
        50,
        169,
        12,
        603,
        98,
        127
    ]
}